body {
  height: 100vh;
}

#munro-list {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  align-content: center;
  padding: 20px;
}

.munro-detail {
  border: 1px solid grey;
  flex-grow: 1;
  margin: 5px;
}

.munro-detail h2 {
  padding: 10px;
}
